
body {
    margin: 0;
    background-color: #344955;
    color: white;
    padding-bottom: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #F9AA33;
    margin-bottom: 0.5em;
    margin-top: 3em;
}

h2 {
    color: #F9AA33;
}

h1 span {
    font-style: italic;
}

hr {
    color: #344955;
    margin-top: 0;
    border-top-width: 0.3em;
    margin-bottom: 2em;
}

a {
    color: #a6a28d;
}

span {
    color: #8bb4c9;
    font-family: "Courier New", Courier, monospace;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.orange {
    color: #F9AA33;
}

/* --------- NAV BAR --------- */

.nav {
    background-color: #232F34;
    height: 3em;
    line-height: 3em;
    border-bottom: 3px solid #F9AA33;
    position: fixed;
    width: 100%;
}

.nav ul {
    width: 80%;
    margin: 0 auto;    
    padding: 0;
    list-style-type: none;
}

.nav li {
    display: inline;
    margin-right: 3em;
}

.nav a {
    text-decoration: none;
    color: white;
}

button {
    height: 3em;
    font-size: 1em;
    margin-top: 1em;
}

/* --------- SIDE NAV --------- */

.sidenav {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%; 
    background-color: #232F34;
    top: 0;
    position: fixed; 
    overflow-y: auto;
    overflow-x: hidden;
}

.sidenav h1 {
    margin: 0.5em;
    color: white;
}

.sidenav .header a {
    font-weight: 600;
}

.sidenav .sub a {
    padding-left: 2.5em;
}

.sidenav .selected {
    background-color: #F9AA33;
}

.sidenav .selected a:hover {
    background-color: #F9AA33 !important;
}

.sidenav li {
    list-style-type: none;
}

.sidenav li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 0.9em;
}

.sidenav li a:hover {
    background-color: #555;
    color: white;
}

.sidecontent {
    margin-left: 25%;
    padding-left: 2em;
    padding-right: 1em;
}

.sidecontent h1 {
    margin-top: 1em;
}

/* --------- COVER PAGE --------- */

.cover {
    padding-top: 4.5em;
    padding-bottom: 2em;
}

#course {
    margin-bottom: 0.2em;
    margin-top: 1.5em;
}

#coursename {
    margin-top: 0;
    font-weight: 500;
    padding-top: 0em;
}

#assignment {
    margin-top: 2em;
    font-style: italic;
    color: #a3a3a3;
}

#name {
    margin-top: 2em;
    margin-bottom: 0.2em;
    color: #F9AA33;
}

#studentid {
    margin-top: 0;
    font-style: italic;
    margin-bottom: 2em;
}

.timing span {
    font-style: italic;
}

/* --------- CODE --------- */

.code {
    background-color: #283842;
    width: 65%;
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-left: 2.5em;
}

.code p {
    font-size: 0.9em;
    line-height: 1.5em;
    color: #ebebeb;
    font-family: "Courier New", Courier, monospace;
}

.wide {
    width: 45em;
    margin-bottom: 1.5em;
    padding-left: 2.5em;
}

/* --------- RAW --------- */

.raw {
    background-color: white;
    width: 65%;
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-left: 2.5em;   
    margin-top: 3em;
    margin-bottom: 3em;
    color: black !important; 
}

.notop {
    margin-top: 0;
}

.raw hr {
    width: 95%;
}

.raw h1 {
    color: black;
}

.raw h2 {
    color: black; 
}

.raw form {
    padding: 1em;
}

.raw input {
    display: block;
    margin: 1em;
}

/* --------- QUIZ --------- */

quiz label {
    display: block;
}

quiz h1 {
    color: white;
    font-size: 1.2em;
}

quiz button {
    margin-top: 2em;
    padding: 0.5em;
    font-size: 1em;
}

quiz .right {
    color: green;
}

quiz .wrong {
    color: red;
}


