html, body {
    padding: 0;
    margin: 0;
}

.header {
    padding-top: 20px;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: royalblue;
}

.header h1 {
    padding: 20px;
    padding-left: 40px;
    color: white;
    display: inline;
}

.right {
    display: inline;
    color: white;
    position: fixed;
    top: 15px;
    right: 50px;
    font-size: 1.3em;
}

.right p, form {
    margin: 0;
}

.content {
    padding-left: 40px;
}

h1, h2 {
    color: royalblue;
}

label p {
    color: royalblue;
}

table {
    margin-top: 50px;
    text-align: left;
    width: 40em;
}

.bookmark-container>div {
    float: left;
}

.bookmark-button {
    margin-top: 35px;
}

.bookmark {
    margin-bottom: 35px;
    min-width: 350px;
    max-width: 790px;
    height: 175px;
    background-color: royalblue;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.bookmark a {
    text-decoration: none;
}

.bookmark button, .bookmark form, .bookmark input {
    margin:0 auto;
    display:block;
    width: 200px;
}

.bookmark h1 {
    color: white;
    font-size: 1.5em;
}

.bookmark p {
    padding-left: 20px;
}

.dim {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 8000;
    opacity: 50%;
}

.overlay {
    position: static;
    width: 500px;
    height: 275px;
    z-index: 9999;
    position: fixed; 
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
}

.overlay input, .overlay button {
    width: 475px;
}

.error {
    color: red;
}

#create {
    cursor: pointer;
}