html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding-top: 20px;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: royalblue;
    position: fixed;
}

.padded {
    padding-left: 40px;
}

.header h1 {
    color: white;
    display: inline;
}

.green {
    color: green;
}

.quiz-btn {
    margin-right: 200px;
}

.right {
    display: inline;
    color: white;
    position: fixed;
    top: 15px;
    right: 50px;
    font-size: 1.3em;
}

.right p, form {
    margin: 0;
}

.content {
    margin-top: 65px !important;
}

h1, h2 {
    color: royalblue;
}

label p {
    color: royalblue;
}

table {
    margin-top: 50px;
    text-align: left;
    width: 40em;
}

.orange-back {
    background-color: orangered;
}

.orange {
    color: orangered;
}

.bookmark-container>div {
    float: left;
}

.bookmark-button {
    margin-top: 35px;
}

.bookmark {
    margin-bottom: 35px;
    min-width: 350px;
    max-width: 790px;
    height: 175px;
    background-color: royalblue;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.bookmark a {
    text-decoration: none;
}

.bookmark button, .bookmark form, .bookmark input {
    margin:0 auto;
    display:block;
    width: 200px;
}

.bookmark h1 {
    color: white;
    font-size: 1.5em;
}

.bookmark p {
    padding-left: 20px;
}

.dim {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 8000;
    opacity: 50%;
}

.overlay {
    position: static;
    width: 500px;
    height: 275px;
    z-index: 9999;
    position: fixed; 
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
}

.overlay input, .overlay button {
    width: 475px;
}

.error {
    color: red;
}

#create {
    cursor: pointer;
}

.padded-content {
    width: 80%;
    margin: 0 auto;
}

.orange-btn {
    background-color: orangered;
    padding: 0.4em 1.5em;
    color: white;
    font-size: 1.0em;
    width: 210px;
}

.eduk8 {
    color: black;
    padding-bottom: 100px;
}

.eduk8 h1 {
    color: black;
    text-decoration: underline;
}


.eduk8 h2 {
    color: orangered;
}

.eduk8 a {
    text-decoration: none;
}

.lesson h2 {
    color: white;
    padding-left: 20px;
}

.lesson {
    width: 80%;
    padding: 10px;
    color: white;
    background-color: orangered;
}

.available {
    background-color: green;
}

.missing {
    background-color: grey;
}

.status {
    float: right;
    margin-top: -44px;
    padding-right: 25px;
}

.in-code {
    color: orangered;
    font-family: "Courier New", Courier, monospace;
}

.name {
    font-size: 0.75em;
}

.code {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1a1a1a;
    padding-left: 20px;
    padding-bottom: 10px;
    color: white;
    font-family: "Courier New", Courier, monospace;
}

.back {
    color: white;
    top: 8px;
    left: 5%;
    font-size: 3em;
    margin-top: 0;
    position: fixed;
}

.black {
    color: black;
}

.accent {
    color: orangered;
    text-decoration: underline;
}

.heading {
    margin-top: 75px;
    color: black;
    text-decoration: underline;
}

.landing {
    padding-top: 60px;
    margin-top: 65px;
    padding-bottom: 100px;
}

.landing span {
    color: orangered;
    font-family: "Courier New", Courier, monospace;
}

